<hr></hr>
<form>
	<label ng-if="{{userNameError}}" class="error">UserName Taken</label>
	<label ng-if="{{emailError}}" class="error">Email Taken</label>
	<label ng-if="{{passwordError}}" class="error">Passwords do not match</label>
	<label>UserName:</label>
	<input type="text" ng-model="userName" placeholder="Enter your UserName"/>
	<br />
	<label>Email:</label>
	<input type="text" ng-model="email" placeholder="Enter your Email"/>
	<br />
	<label>Password:</label>
	<input type="password" ng-model="password" placeholder="Enter your Password"/>
	<br />
	<label>Confirm Password:</label>
	<input type="password" ng-model="confirmPassword" placeholder="Reenter your Password"/>
	<br />
	<button ng-click="sendRegister()">Register</button>
</form>
<button ng-click="toLogin()">To Login Page</button>
