.error {
	color: red;
}
.fullScreen {
	height: 100%;
	width: 100%;
}

.forestBackground {
	background-image: url("images/forestBattleBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.verticallyCenter {
	position: relative;
  	top: 10%;
}

.battleButton {
	width: 30%;
	font-size: 2em;
}

.townImage {
	width: 100%;
	height: 80%;
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}

table, td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align:center
}

.inlined {
	display:inline;
}

.characterImage {
	width: 25%;
	margin: auto;
	display:inherit;
}

progress {
	width: 100%;
}

.partialWidth {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}

.centerText {
	text-align:center;
}

html, body {
	height: 100%;
}