<script type="text/ng-template" id="userWin.html">
	<div class="modal-body">
		<h3>You win</h3>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="toTown()">To Town</button>
	</div>
</script>

<script type="text/ng-template" id="userLoss.html">
	<div class="modal-body">
		<h3>You Died</h3>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="toWorld()">Back to World Map</button>
	</div>
</script>

<div class="fullScreen forestBackground">
	<div class="row centerText verticallyCenter">
		<div class="col-md-6">
			<h1 style="color: aliceblue">{{player.characterName}}</h1>
			<div class="partialWidth">
				<uib-progress class="progress-striped" value="player.currentHealth" max="player.maxHealth"><i>{{player.currentHealth}}/{{player.maxHealth}}</i></uib-progress>
			</div>
			<br></br>
			<img class="characterImage" src="css/images/genericCharacter.png"></img>
			<br></br>
			<br></br>
			<button class="battleButton" ng-click="attack()">Attack</button>
			<button class="battleButton" ng-click="heal()">Heal</button>
		</div>
		
		<div class="col-md-6">
			<h1 style="color: aliceblue">{{enemy.name}}</h1>
			<div class="partialWidth">
				<h3 style="color: aliceblue">{{enemy.health}}</h3>
				<progress value="{{enemy.health}}" max="{{maxEnemyHealth}}"></progress>
			</div>
			<br></br>
			<img class="characterImage" src="css/images/goblin.png"></img>
		</div>
	</div>
</div>