<img class="townImage" src="css/images/town.jpg"></img>
<br></br>
<br></br>
<table>
	<tr>
		<td>Potion</td>
		<td>1 gold</td>
		<td>Heals your character for 1</td>
		<td><button ng-click="buyPotion()">Buy!</button></td>
	</tr>
	<tr>
		<td>Attack</td>
		<td>1 gold</td>
		<td>Raises your attack stat by 1</td>
		<td><button ng-click="buyAttack()">Buy!</button></td>
	</tr>
	<tr>
		<td>Health</td>
		<td>1 gold</td>
		<td>Raises your max health by 1</td>
		<td><button ng-click="buyHealth()">Buy!</button></td>
	</tr>
</table>
<h1 class="inlined">{{money}}</h1>
<button class="inlined">Back to World Map</button>