<img class="fullScreen worldImage" src="css/images/villageSprite.jpg">
	<button id="town1" ng-click="toBattle(town1)">Town 1</button>
	<button id="town2" ng-click="toBattle(town2)">Town 2</button>
	<button id="town3" ng-click="toBattle(town3)">Town 3</button>
	<button id="town4" ng-click="toBattle(town4)">Town 4</button>
	<button id="town5" ng-click="toBattle(town5)">Town 5</button>
	<button id="town6" ng-click="toBattle(town6)">Town 6</button>
	<button id="town7" ng-click="toBattle(town7)">Town 7</button>
</img>